In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sqlite3

In [2]:
def hist_category(df,colunas_categoricas):
    '''
    df: dataframe,
    colunas_categoricas: ['','']
    '''
    for col in colunas_categoricas:

        # Inicializa a figura
        plt.figure(figsize=(10, 8))

        # Para cada categoria da variável:
        for value in df[col].unique():

            # Seleciona, no dataframe, apenas as observações que contem esta categoria
            df_filtrado = df.loc[df[col] == value]
            # Plota histograma das observações selecionadas
            plt.hist(df_filtrado[col], alpha=0.6)

        # Adiciona títulos
        plt.title(f'Histograma de {col}', fontsize=15, fontweight='bold')
        plt.xlabel(f'Valores ')
        plt.ylabel('Frequência')

        # Adiciona legenda
       # plt.legend(list(df[col].unique()))

        # Mostra a figura
        plt.show()

def p_null(df):
    """
    Mostra as colunas que tem null e que não tem e suas porcentagens.
    """
    for column in df.columns:
        null = df[column].isnull().sum()
        p = (null/(df.shape[0]))*100
        if df[column].isnull().sum()==0:
            print(f'No null in {column}')
        else:
            print(f'Null in {column}: {p.round(2)}% or {null}nulls',)
    print( )
    
    print('The columns with the most % nulls are:')
    print(((df.isnull().sum()/df.shape[0])*100).sort_values(ascending = False))

In [3]:
# transformando arquivo csv para db
## Primeiro conecta
db_name = 'db_inep'
con = sqlite3.connect(f'{db_name}.db')

pd.read_sql_query('SELECT * FROM sqlite_master',con)

,type,name,tbl_name,rootpage,sql
0,table,DM_ALUNO,DM_ALUNO,2,"CREATE TABLE ""DM_ALUNO"" (\n""CO_IES"" INTEGER,\n..."
1,table,DM_CURSO,DM_CURSO,1376835,"CREATE TABLE ""DM_CURSO"" (\n""CO_IES"" INTEGER,\n..."
2,table,DM_DOCENTE,DM_DOCENTE,1380554,"CREATE TABLE ""DM_DOCENTE"" (\n""CO_IES"" INTEGER,..."
3,table,DM_IES,DM_IES,1404217,"CREATE TABLE ""DM_IES"" (\n""CO_IES"" INTEGER,\n ..."
4,table,DM_LOCAL_OFERTA,DM_LOCAL_OFERTA,1404385,"CREATE TABLE ""DM_LOCAL_OFERTA"" (\n""CO_LOCAL_OF..."

In [ ]:
#Trazendo a Table Aluno pra dar uma verificada
alunos = pd.read_sql_query('SELECT * FROM DM_ALUNO',con)

In [4]:
curso = pd.read_sql_query('SELECT * FROM DM_CURSO',con)
docente = pd.read_sql_query('SELECT * FROM DM_DOCENTE ',con)
ies = pd.read_sql_query('SELECT * FROM DM_IES',con)
local = pd.read_sql_query('SELECT * FROM DM_LOCAL_OFERTA ',con)